*{
  font-family: 'Open Sans', sans-serif;
}

.container{
  margin: 0;
}

section {
  display: inline-block;
  position: absolute;
  width: 50%;
}

/*Left Section*/
.bookmark-url {
  align-items: center;
  margin: 5%;
}

.bookmark-title {
  align-items: center;
  margin: 5%;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

h2 {
  color: #455A64;
  text-indent: 5%;
  border-bottom: solid;
  border-width: thin;
  /*border-bottom-color: #CFD8DC*/
}

a {
  color: #607D8B;
  display: block;
  padding-left: 5%;
  padding-bottom: 5%;
  border-bottom: solid;
  border-width: thin;
}

#mark-as-read:hover {
  font-weight: bold;
  color: #F05A28;
}

#mark-as-read {
  float: left;
  margin-left: 5%;
}

.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

article{
  position: relative;
}

#remove-bookmark {
  float: right;
  margin-right: 5%;
}

.append-bookmark {
  margin: 5%;
  border-bottom: 2px solid red;
}

button {
  align-items: center;
  margin: 5%;
}

.enter-button {
  background: #FFC107;
  color: #FFF;
  font-size: 16px;
  line-height: 28px;
  width: 89%;
  margin-top: 10px;
}

h1 {
  color: #FFF;
  font-size: 90px;
  margin-top: 140px;
}

img {
  margin: 0 10px;
}

input {
  font-size: 24px;
  padding: 5px;
  width: 87%;
  line-height: 25px;
}

.section-left {
  background: #455A64;
  text-align: center;
  height: 100%;
}

.js-errors {
  margin: 5%;
}

/*Right Section*/
/*a {
  border-bottom: 1px solid #607D8B;
  color: #607D8B;
  padding-bottom: 25px;
  margin-bottom: 11px;
}

.appended-bookmark {
  background: #FFF;
  border: 1.5px solid #607D8B;
  height: 150px;*/
  /*margin: 20px auto 30px;
  padding: 15px 15px 5px 15px;*/
 /* width: 87%;
}

h2 {
  border-bottom: 1px solid #607D8B;
  color: #455A64;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
}

#mark-as-read,
#remove-bookmark {
  background: 0;
  font-size: 12px;
}

.read {
  background: #F2F4F4;
}

.read-clicked {
  color: #F05A28;
}

#remove-bookmark {
  position: absolute;
  right: 20px;
}*/

.section-right {
  max-height: 100%;
  overflow: scroll;
  right: 0;
  width: 50%;
}

/*pseudo-elements*/
a:hover {
  text-decoration: underline solid #FFC107;
  color: #455A64;
  width: 800;
}

#mark-as-read:focus {
  outline: 0;
}

@media screen and (min-width: 551px) {
  .section-right{
    width: 50%;
    top: 0px;
    left: 50%;
    bottom: 0px;
    display: inline-block;
  } 
  .section-left {
    width: 50%;
    top: 0px;
  }
}

@media (max-width: 550px) {
  section {
    width: 100%;
    display: block;
  }

  .section-left {
    background: #455A64;
  }

  .section-right {
    top: 50%;
    bottom: 0px;
  }
 }

#mark-as-read,
#remove-bookmark:hover {
  cursor: pointer;
}

/*Media Queries*/
@media (max-width: 1200px) {
  h1 {
    font-size: 72px;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 50px
  }
}

@media (max-width: 790px) {
  h1 {
    font-size: 38px
  }
}

/*Mobile Media Query*/
@media (max-width: 620px) {
  .bookmark-title {
    margin-top: 20px;
  }

  .bookmark-url {
    margin: 20px 0 auto;
  }
  
  .enter-button {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 30px;
    margin: 0;
    padding-top: 20px;
  }

  img {
    height: 25px;
    margin: 0 5px;
    width: 50px;
  }

  section {
    display: block;
    height: 50%;
    position: relative;
    width: 100%;
  }

  .section-right {
  max-height: 375px;
  overflow: scroll;
  }
}