
*{
  font-family: 'Open Sans', sans-serif;
}

.container{
  margin: 0;
}

body {
  height: 100%;
}

.read {
  background: orange;
}

/*Left Section*/
.bookmark-url {
  align-items: center;
  margin: 5%;
}

.bookmark-title {
  align-items: center;
  margin: 5%;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

h2 {
  color: #455A64;
  text-indent: 5%;
  border-bottom: solid;
  border-width: thin;
  /*border-bottom-color: #CFD8DC*/
}

a {
  color: #607D8B;
  display: block;
  padding-left: 5%;
  padding-bottom: 5%;
  border-bottom: solid;
  border-width: thin;
}

#mark-as-read:hover {
  font-weight: bold;
  color: #F05A28;
  
}

#mark-as-read {
  float: left;
  margin-left: 5%;
}

.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

article{
  position: relative;
}

#remove-bookmark {
  float: right;
  margin-right: 5%;
}

.append-bookmark {
  margin: 5%;
  border-bottom: 2px solid red;
}

button {
  align-items: center;
  margin: 5%;
  
}

.enter-button {
  background: #FFC107;
  color: #FFF;
  font-size: 16px;
  line-height: 28px;
  width: 89%;
  margin-top: 10px;
}

img {
  vertical-align: middle;
  height: 1cm;
}

input {
  font-size: 24px;
  padding: 5px;
  width: 87%;
  line-height: 25px;
}

.append-bookmark {
  border-color: #607D8B;
  border: 10px;
}


/*Right Section*/
/*a {
  border-bottom: 1px solid #607D8B;
  color: #607D8B;
  padding-bottom: 25px;
  margin-bottom: 11px;
}

.appended-bookmark {
  background: #FFF;
  border: 1.5px solid #607D8B;
  height: 150px;*/
  /*margin: 20px auto 30px;
  padding: 15px 15px 5px 15px;*/
 /* width: 87%;
}

h2 {
  border-bottom: 1px solid #607D8B;
  color: #455A64;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
}

#mark-as-read,
#remove-bookmark {
  font-size: 12px;
}

#remove-bookmark {
  position: absolute;
  right: 20px;
}*/


a:hover {
  text-decoration: underline solid #FFC107;
  color: #455A64;
  width: 800;
}
/*
.section-right {
  right: 0;
  width: 50%;
  position: relative;
}
*/

.section-left {
  background-color: #455A64;
  color: #FFFFFF;
}

.section-right {
  position: absolute;
  background-color: #CFD8DC;
  color: #FFFFFF;
}

@media screen and (min-width: 551px) {
  .section-right{
    width: 50%;
    top: 0px;
    left: 50%;
    bottom: 0px;
    display: inline-block;
  } 
  .section-left {
    width: 50%;
    top: 0px;
  }
}

@media (max-width: 550px) {
  section {
    width: 100%;
    display: block;
  }

  .section-left {
    background: #455A64;
  }

  .section-right {
    top: 40%;
    bottom: 0px;

  }
  
 }
  
